@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body { 
    background-color: gray;
    font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#allProjectContent { 
    display: flex;
    flex-direction: row;
    width: 100%;
}

#createProject { 
    margin: 1% 2%;
}

dialog { 
    margin: 1% 2%;
}

.project {
    border: 1px black solid;
    background-color: white;
    margin: 1% 2%;
    min-width: 33%;
    height: 70%;
}

.projHeader { 
    display: flex;
    flex-direction: row;
    margin: 1% 2%;
}