@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: gray;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#allProjectContent {
    display: flex;
    flex-direction: row;
    width: 100%;
}

header {
    margin: 1vh 1vw;
    font-size: 2rem;
    font-weight: 400;
}

#content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80vh;
}

#sidebar {
    width: 20%;
    height: 100%
}

#activeProject {
    width: 80%;
    height: 100%;
    background-color: white;
    border: 1px black solid;
}

#createProject {
    margin: 1vh 1vw;
}

dialog {
    margin: 1vh 1vw;
    border-radius: 10px;
}

.project {
    border: 1px black solid;
    background-color: white;
    border-radius: 10px;
    margin: 1vh 1vw;
    min-width: 33%;
    min-height: 50vh;
}

.allTodoDiv {
    margin: 1vh 1vw;
}

#projectHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px black solid;
}

.task {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.taskMarker {
    height: 2vh;
    width: 2vh;
    border-radius: 1vh;
    margin: .5vh 1vw 0 0;
}

button {
    font-weight: bold;

    border: none;
    border-radius: 10px;

    padding: .5vh 1.5vw;
    cursor: pointer;
}