/* color scheme
https://colorhunt.co/palette/f9f8f6efe9e3d9cfc7c9b59c
*/

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background-color: #efe9e3;
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#allProjectContent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

header {
  font-size: 2rem;
  font-weight: 400;
  background-color: #efe9e3;
}

#content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

#sidebar {
  width: 20%;
  height: 100%;
  margin-left: 1vw;
  background-color: #efe9e3;
}

#sidebarHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#activeProject {
  width: 80%;
  height: 100%;
  background-color: #f9f8f6;
}

#createProject {
  margin: 1vh 1vw;
  background-color: #efe9e3;
}

dialog {
  /* margin: 1vh 1vw; */
  border-radius: 10px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f8f6;
  border: 1px solid black;
  padding: 10px;
  z-index: 1;
}

dialog > button {
  background-color: #f9f8f6;
}

.formLine {
  display: flex;
  align-items: center;
}

label {
  width: 90px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.buttonLine {
  display: flex;
  justify-content: center;
}

input[type="text"],
input[type="date"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.allTodoDiv {
  margin: 1vh 1vw;
}

#projectHeader {
  display: grid;
  max-height: 10vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 1vh;
  margin: 2vh 0 1vh 0;
}

#projectHeader > button {
  display: flex;
}

#projectHeader > button > * {
  margin: 1px;
}

#projPriority,
#priorityBoxHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.priorityBoxes {
  height: 10px;
  width: 15px;
  margin: 5px;
}

#projectHeader > *,
.taskContent > * {
  margin: 0 1vw;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.taskContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  font-weight: bold;

  background-color: #f9f8f6;

  border: none;
  border-radius: 10px;

  padding: 0.5vh 1.5vw;
  cursor: pointer;
}
